@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-weight: 600;
}

@keyframes blurIn {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blur-animation {
  animation: blurIn 1s ease-out;
}

.scale-animation {
  animation: scaleIn 1s ease-out;
}

.fade-animation {
  animation: fadeIn 1s ease-out;
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up.delay-1 {
  animation-delay: 0.1s;
}

.fade-in-up.delay-2 {
  animation-delay: 0.2s;
}

.fade-in-up.delay-3 {
  animation-delay: 0.3s;
}

.fade-in-up.delay-4 {
  animation-delay: 0.4s;
}

@keyframes slideWiggle {
  0%,
  100% {
    background-position: center;
  }
  25% {
    background-position: left -10px center;
  }
  50% {
    background-position: right -10px center;
  }
  75% {
    background-position: left -10px center;
  }
}

.wiggle-bg {
  animation: slideWiggle 180s ease-in-out infinite;
}

@keyframes slideTopBottom {
  0% {
    background-position: top center;
  }
  50% {
    background-position: bottom center;
  }
  100% {
    background-position: top center;
  }
}

.wiggle-bg-2 {
  animation: slideTopBottom 90s ease-in-out infinite;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInDown {
  animation: fadeInDown 0.8s ease-out;
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

.scale-up {
  animation: scaleUp 0.5s ease-out;
}
